.container {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 200px;
  margin: auto;
}


table.grid {
  font-family: "Calibri";
  font-size: 10pt;
}

table.grid th {
  font-weight: bold;
  border: 1px solid black;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 150%;
}

table.grid td {
  padding-left: 1em;
  padding-right: 0.5em;
  line-height: 110%;
  border: 1px solid #DDDDDD;
  text-align: right;
}


table.cardio td:nth-child(3), table.cardio td:nth-child(5) {
  background-color: #ecc5c565;
}

table.cardio td.event {
  border: 2px solid #888888;
  cursor: pointer;
}

table.events {
  font-size: 10pt;
  width: 100%;
}

table.events td:nth-child(1), table.events td:nth-child(2) {
  text-align: initial;
}

table.events td {
  white-space: nowrap;
}

table.events td.spacer {
  column-span: all;
  background-color: gray;
  height: 1em;
}

table.events td.dnf,table.events td.dns {
  text-align: center;
}

table.events td.dnf::after {
  content: "DID NOT FINISH";
}

table.events td.dns::after {
  content: "DID NOT START";
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

div.stats .row {
  width: 200px;
  margin-left: 2em;
  font-family: "Monaco",monospace;
  font-size: 9pt;
}

.pivot {
  margin-left: 300px;
}

div.stats {
  position: fixed;
}

.stats h4 {
  font-size: 13pt;
}

.stats h5 {
  font-size: 11pt;
}

.neg {
  color: red;
}

table.summary tr td:first-child {
  white-space: nowrap;
}

.summary tr:nth-child(even) {
  background-color: rgb(235, 244, 255);
}

.summary .year:not(:last-child) td {
  border-bottom: 3px solid black;
}

.summary .year td,.summary .year-disclose td,.summary .overall td {
  font-weight: bold;
}

.summary .quarter td,.summary .quarter-disclose td {
  color: rgb(89, 164, 255);
}

.disclosure-open,.disclosure-closed {
  float: left;
  color: gray;
  font-size: 8pt;
  cursor: arrow;
  padding-right: 0.5em;
}

.disclosure-closed {
  visibility: hidden;
}

.disclosure-open:after {
  content: "\25BC"
}

.disclosure-closed:after {
  content: "\25B6"
}
