openapi: 3.0.2
info:
  title: Moo've
  description: ""
  contact:
    email: ct@digicow.net
  version: 1.0.0
servers:
  - url: https://moove.digicowsoftware.com/api/v1
security:
  - user: []
paths:
  /auth/login:
    post:
      security:
        - auth: []
      summary: Initiate an authenticated login session
      x-mojo-to: Auth#login
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
  /auth/status:
    get:
      security: []
      summary: Find out whether the user is logged in
      x-mojo-to: Auth#status
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
  /auth/logout:
    post:
      security: []
      summary: End a login session
      x-mojo-to: Auth#logout
      responses:
        204:
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /events/series/{user}/{id}:
    get:
      summary: Get the events in a particular series for a user
      x-mojo-to: EventSeries#list
      parameters:
        - in: path
          name: user
          description: the user registered for the events
          required: true
          schema:
            type: string
        - in: path
          name: id
          description: the event sequence's ID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  series:
                    $ref: "#/components/schemas/EventSeries"
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/RegisteredEvent"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /events/{user}:
    get:
      summary: Get the list of events for a user
      x-mojo-to: Event#list
      parameters:
        - in: path
          name: user
          description: the user registered for the event
          required: true
          schema:
            type: string
        - in: query
          name: year
          description: year of event
          required: false
          schema:
            type: integer
        - in: query
          name: sequence_id
          description: Event Sequence Identifier
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RegisteredEvent"
  /events/{user}/{id}:
    get:
      summary: Get the details for an event
      x-mojo-to: Event#get
      parameters:
        - in: path
          name: user
          description: the user registered for the event
          required: true
          schema:
            type: string
        - in: path
          name: id
          description: the event's ID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    $ref: "#/components/schemas/RegisteredEvent"
                  links:
                    $ref: "#/components/schemas/EventLinks"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /goals/{user}:
    get:
      summary: Get goals and goal fulfillments for a user
      x-mojo-to: User#get_goals
      parameters:
        - name: user
          in: path
          description: username or user ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  personalRecords:
                    type: array
                    items:
                      $ref: "#/components/schemas/Goal"
                  achievements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Goal"
  /goals/{user}/{goal}:
    get:
      summary: Get a single goal
      x-mojo-to: User#get_goal
      parameters:
        - name: user
          in: path
          description: username or user ID
          required: true
          schema:
            type: string
        - name: goal
          in: path
          description: goal ID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Goal"
  /users/{user}/summary:
    get:
      summary: Get basic activity/event information for a user
      x-mojo-to: User#get_summary
      parameters:
        - name: user
          in: path
          description: username or user ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/UserSummary"
                  recent_activities:
                    type: array
                    items:
                      $ref: "#/components/schemas/Activity"
                  events:
                    type: object
                    properties:
                      next:
                        $ref: "#/components/schemas/RegisteredEvent"
                      previous:
                        $ref: "#/components/schemas/RegisteredEvent"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Activity:
      type: object
      properties:
        id:
          type: integer
        activity_type:
          $ref: "#/components/schemas/ActivityType"
        start_time:
          type: string
          format: date-time
        distance:
          $ref: "#/components/schemas/Amount"
        result:
          $ref: "#/components/schemas/ActivityResult"
        event:
          $ref: "#/components/schemas/Event"
        temperature:
          nullable: true
          type: number
        note:
          nullable: true
          type: string
        whole_activity:
          $ref: "#/components/schemas/Activity"
        prior_distance_pr:
          $ref: "#/components/schemas/Activity"
        records:
          type: array
          items:
            $ref: "#/components/schemas/Goal"
    ActivityResult:
      type: object
      properties:
        id:
          type: integer
        gross_time:
          type: string
          format: time
          nullable: true
        net_time:
          type: string
          format: time
        pace:
          type: string
          format: time
        speed:
          $ref: "#/components/schemas/Amount"
        heart_rate:
          nullable: true
          type: integer
    ActivityType:
      type: object
      required:
        - id
        - description
      properties:
        id:
          type: integer
        description:
          type: string
    Address:
      type: object
      properties:
        id:
          type: integer
        street1:
          type: string
          nullable: true
        street2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
    Division:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        name:
          type: string
        finishers:
          type: integer
    Donation:
      type: object
      required:
        - amount
        - date
        - person
        - address
      properties:
        id:
          type: integer
        amount:
          type: number
        date:
          type: string
          format: date-time
        person:
          $ref: "#/components/schemas/Person"
        address:
          $ref: "#/components/schemas/Address"
    Event:
      type: object
      required:
        - name
      properties:
        id:
          type: integer
        name:
          type: string
        url:
          type: string
          format: uri
          nullable: true
        scheduled_start:
          type: string
          format: date-time
        entrants:
          type: integer
          nullable: true
        countdown:
          $ref: "#/components/schemas/Duration"
        event_type:
          $ref: "#/components/schemas/EventType"
        distance:
          $ref: "#/components/schemas/Amount"
        address:
          $ref: "#/components/schemas/Address"
        event_sequence_id:
          type: integer
          nullable: true
    EventLinks:
      type: object
      properties:
        next:
          $ref: "#/components/schemas/Event"
        prev:
          $ref: "#/components/schemas/Event"
        series_next:
          $ref: "#/components/schemas/Event"
        series_prev:
          $ref: "#/components/schemas/Event"
        sequence_next:
          $ref: "#/components/schemas/Event"
        sequence_prev:
          $ref: "#/components/schemas/Event"
    EventRegistration:
      type: object
      required:
        - user
        - is_public
      properties:
        event_id:
          type: integer
        user:
          $ref: "#/components/schemas/User"
        fee:
          type: number
          nullable: true
        registered:
          type: boolean
          nullable: true
        bib_no:
          type: integer
          nullable: true
        is_public:
          type: boolean
        fundraising:
          $ref: "#/components/schemas/Fundraising"
    EventResult:
      type: object
      required:
        - groups
      properties:
        url:
          type: string
          format: uri
          nullable: true
        groups:
          type: array
          items:
            $ref: "#/components/schemas/EventResultGroup"
    EventResultGroup:
      type: object
      required:
        - place
        - finishers
        - percentile
      properties:
        place:
          type: integer
        finishers:
          type: integer
        percentile:
          type: number
        division:
          type: string
        gender:
          type: string
    EventSeries:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        year:
          type: integer
    EventType:
      type: object
      required:
        - id
        - activity_type
        - description
      properties:
        id:
          type: integer
        activity_type:
          $ref: "#/components/schemas/ActivityType"
        description:
          type: string
    Fundraising:
      type: object
      required:
        - minimum
        - total
      properties:
        minimum:
          type: number
        total:
          type: number
        donations:
          type: array
          items:
            $ref: "#/components/schemas/Donation"
    Goal:
      type: object
      required:
        - dimension
        - name
      properties:
        id:
          type: integer
        name:
          type: string
        activity_type:
          $ref: "#/components/schemas/ActivityType"
        dimension:
          type: string
        is_pr:
          type: boolean
        count:
          type: integer
        fulfillments:
          type: array
          items:
            $ref: "#/components/schemas/GoalRecord"
    GoalRecord:
      type: object
      required:
        - description
        - is_current
        - value
      properties:
        description:
          type: string
        is_current:
          type: boolean
        value:
          anyOf:
            - $ref: "#/components/schemas/Amount"
            - $ref: "#/components/schemas/Duration"
    Person:
      type: object
      required:
        - first_name
        - last_name
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
    RegisteredEvent:
      required:
        - registration
        - event
      type: object
      properties:
        registration:
          $ref: "#/components/schemas/EventRegistration"
        event:
          $ref: "#/components/schemas/Event"
        activity:
          $ref: "#/components/schemas/Activity"
        results:
          $ref: "#/components/schemas/EventResult"
    Location:
      type: object
      required:
        - latitude
        - longitude
      properties:
        id:
          type: integer
        latitude:
          type: number
        longitude:
          type: number
    UnitOfMeasure:
      type: object
      required:
        - unit
        - abbreviation
        - normalization_factor
      properties:
        id:
          type: integer
        unit:
          type: string
        abbreviation:
          type: string
        normalization_factor:
          type: number
    Session:
      type: object
      required:
        - user
        - expiration
      properties:
        user:
          $ref: "#/components/schemas/User"
        expiration:
          type: string
          format: date-time
    User:
      type: object
      required:
        - username
        - person
      properties:
        id:
          type: integer
        username:
          type: string
        person:
          $ref: "#/components/schemas/Person"
        location:
          $ref: "#/components/schemas/Location"
    UserSummary:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/User"
    Amount:
      type: object
      required:
        - quantity
      properties:
        quantity:
          $ref: "#/components/schemas/DimensionedQuantity"
        normalized_quantity:
          $ref: "#/components/schemas/DimensionedQuantity"
    DimensionedQuantity:
      type: object
      required:
        - value
        - units
      properties:
        value:
          type: number
        units:
          $ref: "#/components/schemas/UnitOfMeasure"
    Duration:
      type: object
      properties:
        years:
          type: number
        months:
          type: number
        weeks:
          type: number
        days:
          type: number
        hours:
          type: number
        minutes:
          type: number
        seconds:
          type: number
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
        code:
          type: string
    Pagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        count:
          type: integer
    UserCredentials:
      type: object
      properties:
        username:
          type: string
        password:
          type: string

  securitySchemes:
    auth:
      type: http
      scheme: basic
    admin:
      type: apiKey
      name: mojolicious
      in: cookie
    user:
      type: apiKey
      name: mojolicious
      in: cookie
